<!DOCTYPE html>
<html>
<head>
    <title>Electricity Consumption Analysis</title>
</head>

<body>

<h1>Electricity Consumption Analysis in India</h1>

<!-- Tableau Embed Code START -->
<div class='tableauPlaceholder' id='viz1773493142286' style='position: relative'>

<noscript>
<a href='#'>
<img alt='Electricity Consumption Analysis in India'
src='https://public.tableau.com/static/images/El/ElectricityConsumptionAnalysisinIndia/Story1/1_rss.png'
style='border: none' />
</a>
</noscript>

<object class='tableauViz' style='display:none;'>

<param name='host_url' value='https://public.tableau.com/' />
<param name='embed_code_version' value='3' />
<param name='site_root' value='' />
<param name='name' value='ElectricityConsumptionAnalysisinIndia/Story1' />
<param name='tabs' value='no' />
<param name='toolbar' value='yes' />
<param name='animate_transition' value='yes' />
<param name='display_spinner' value='yes' />

</object>
</div>

<script type='text/javascript'>
var divElement = document.getElementById('viz1773493142286');
var vizElement = divElement.getElementsByTagName('object')[0];
vizElement.style.width='100%';
vizElement.style.height='900px';

var scriptElement = document.createElement('script');
scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
vizElement.parentNode.insertBefore(scriptElement, vizElement);
</script>
<!-- Tableau Embed Code END -->

</body>
</html>